{% extends 'base.html.twig' %}

{% block title %}{{ note.title }}
{% endblock %}

{% block body %}
<h1>{{ note.title }}</h1>

       <a href="{{ path('app_note_all') }}">Back to all notes</a>
       {% for message in app.flashes('success') %}
    <div class="">
        {{ message }}
    </div>
    {{ dump(note) }}
{% endfor %}
       
{% endblock %}  