<nav class="flex items-center justify-between p-2 bg-neutral-100">
	<img
	src="https://avatar.iran.liara.run/public/20" alt="logo" width="32" class="">
	{# partie à gauche (logo) #}
	<div
		class="flex items-center justify-between gap-4">
		{# partie à droite #}
		<form action="" method="post" class="flex items-center border-2 border-neutral-700 rounded-md p-2.5">
			<input type="hidden" name="csrf_token" value="{{ csrf_token('authenticate') }}">
			<input type="text" name="" id="" value="" placeholder="Looking for a specific note?" class="">
			<button type="submit">{{ ux_icon('mdi:search', { 'class': 'h-6 w-6'}) }}</button>
		</form>

		<div class="flex items-center justify-between gap-4">
			<a href="{{ path('app_note_new')}}" class="p-2 border rounded-md border-neutral-700">{{ ux_icon('mdi:plus-box-outline', { 'class': 'h-6 w-6'}) }}</a>
			<a href="{{ path('app_profile')}}" class="p-2 border rounded-md border-neutral-700"></a>
			{{ ux_icon('mdi:cog-outline', { 'class': 'h-6 w-6'}) }}
			<a href="{{ path('app_note_user', {'username': app.user.username ?? 'martin'})}}" class="p-2 rounded-full">
				<img src="https://avatar.iran.liara.run/public" alt="logo" width="32" class="">
			</a>
		</div>
	</div>
</nav>
